// Template
//@import "~sieses/dist/sieses.css";
@import "~sieses/dist/parts/reset.css";
@import "~sieses/dist/parts/elements.css";
@import "~sieses/dist/parts/template.css";

// Font
@import url('https://fonts.googleapis.com/css?family=Asar');

html, body {
    height      : 100%;
    min-height  : 400px;
}

body {
    font-family : Asar, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Main App
@import "./app/App";

// Components
@import "./components/ButtonChangeCase";
@import "./components/ButtonSubmit";
@import "./components/TextAreaForm";
@import "./components/TextInfo";
