@import url(~sieses/dist/parts/reset.css);
@import url(~sieses/dist/parts/elements.css);
@import url(~sieses/dist/parts/template.css);
@import url("https://fonts.googleapis.com/css?family=Asar");
html, body {
    height: 100%;
    min-height: 400px;
}

body {
    font-family: Asar, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app {
    text-align: center;
}

.app main {
    margin: 0 auto;
    min-height: 300px;
}

@media screen and (max-width: 999px) {
    .app main {
        max-width: 100%;
        width: 100%;
    }
}

.button-change-case {
    background: #c2c2c2;
    border: 0;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #4a4a4a;
    color: #111;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    margin: 5px;
    outline: none;
    padding: 5px 8px;
    position: relative;
    text-decoration: none;
    transition: none;
    -webkit-transition: none;
}

.button-change-case[disabled], .button-change-case:disabled {
    opacity: .4;
}

.button-change-case:hover[enabled], .button-change-case:hover:enabled {
    box-shadow: 0 4px #4a4a4a;
    top: 2px;
}

.button-change-case:active[enabled], .button-change-case:active:enabled {
    box-shadow: 0 0 #4a4a4a;
    -webkit-box-shadow: 0 0 #4a4a4a;
    top: 6px;
}

.button-submit {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;
}

.button-submit:disabled {
    cursor: initial;
}

::-webkit-input-placeholder {
    color: #757575;
}

::-moz-placeholder {
    color: #757575;
}

:-ms-input-placeholder {
    color: #757575;
}

:-moz-placeholder {
    color: #757575;
}

#text-area-form .field-text-area, #text-area-form .fields-cases, #text-area-form .fields-actions {
    padding-bottom: 10px;
}

#text-area-form .text-area {
    background: #fff;
    border: 3px solid #c2c2c2;
    color: #272822;
    font: inherit;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    height: 200px;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

.text-info {
    font: 30px/32px Asar, Arial, sans-serif;
    padding-bottom: 20px;
}
