.button-change-case {
    background         : #c2c2c2;
    border             : 0;
    border             : none;
    border-radius      : 20px;
    box-shadow         : 0 6px #4a4a4a;
    color              : #111;
    cursor             : pointer;
    display            : inline-block;
    letter-spacing     : .5px;
    margin             : 5px;
    outline            : none;
    padding            : 5px 8px;
    position           : relative;
    text-decoration    : none;
    transition         : none;
    -webkit-transition : none;

    &[disabled],
    &:disabled {
        opacity : .4;
    }

    &:hover[enabled],
    &:hover:enabled {
        box-shadow : 0 4px #4a4a4a;
        top        : 2px;
    }

    &:active[enabled],
    &:active:enabled {
        box-shadow         : 0 0 #4a4a4a;
        -webkit-box-shadow : 0 0 #4a4a4a;
        top                : 6px;
    }
}
