.button-change-case {
    background      : #c2c2c2;
    border          : 0;
    border-top      : 2px solid #a8a8a8;
    color           : #111;
    cursor          : pointer;
    display         : inline-block;
    font-weight     : 700;
    margin          : 5px;
    padding         : 5px 8px;
    text-decoration : none;
}
